@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --color-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --color-dark-grayish-blue: hsl(240, 6%, 50%);
    --color-light-grayish-blue: hsl(240, 5%, 91%);

}

* {
    margin:0;
    padding:0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    background-size: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 88%;
    border-radius: 20px;;
}

.mobile_person_bg {
    height: 50vw;
    margin-top: -30vw;  
}

.bg_shadow {
    background-image: url(/images/bg-pattern-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -20vw;
    height: 27.75vw;
    width: 64vw
}

.faq_title {
    text-align: center;
    color: var(--color-very-dark-grayish-blue);
    margin-bottom: 1rem;
    margin-top: 1.75rem;
}

abbr {
    text-decoration: none;
}

.accordion {
    width: 100%;
    text-align: left;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 1rem 1.4rem 0.7rem 1.4rem;
    background: none;
    color: var(--color-dark-grayish-blue);
}

.accordion::after {
    content: url("images/icon-arrow-down.svg");
    float: right;
}

.answer {
    color: var(--color-dark-grayish-blue);
    padding-right: 1.4rem;
    padding-bottom: 1rem;
    font-size: 12px;
    line-height: 1.1rem;
}

.answer_panel {
    border-bottom: solid 1px var(--color-light-grayish-blue);
    float: left;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}
