@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --color-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --color-dark-grayish-blue: hsl(240, 6%, 50%);
    --color-light-grayish-blue: hsl(240, 5%, 91%);
}

* {
    margin:0;
    padding:0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 88%;
    border-radius: 20px;
    margin-top: 40vw;
    box-shadow: 0px 12px 10px 10px hsl(240, 50%, 0%, 0.2);
}

.mobile_person_bg {
    height: 50vw;
    margin-top: -30vw;  
}

.bg_shadow {
    margin-top: -20vw;
    height: 27.75vw;
    width: 64vw
}

.faq_title {
    text-align: center;
    color: var(--color-very-dark-grayish-blue);
    margin-bottom: 1rem;
    margin-top: 1.75rem;
}

abbr {
    text-decoration: none;
}

#questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.accordion {
    width: 100%;
    text-align: left;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 1rem 0 0.7rem 0;
    background: none;
    color: var(--color-dark-grayish-blue);
}

.accordion:not(:first-of-type) {
    border-top: solid 1px var(--color-light-grayish-blue);
}

.accordion::after {
    content: url("images/icon-arrow-down.svg");
    float: right;
}

.answer {
    color: var(--color-dark-grayish-blue);
    padding-right: 1.4rem;
    padding-bottom: 1rem;
    font-size: 12px;
    line-height: 1.1rem;
}

.answer_panel[data-visible = "false"] {
    display: none;
    transition: all 2s ease-in-out;
}

.attribution {
    padding: 20px;
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }