@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --color-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --color-dark-grayish-blue: hsl(240, 6%, 50%);
    --color-light-grayish-blue: hsl(240, 5%, 91%);
    --color-soft-red: hsl(14, 88%, 65%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    height: 100vh;
    max-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 88%;
    border-radius: 20px;
    margin-top: 40vw;
    box-shadow: 0px 12px 10px 10px hsl(240, 50%, 0%, 0.2);
}

.images_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desktop_only {
    display: none;
}

.mobile_person_bg {
    height: 48vw;
    margin-top: -29vw;
}

.mobile_bg_shadow {
    margin-top: -20vw;
    height: 27.75vw;
    width: 64vw
}

.faq_title {
    text-align: center;
    color: var(--color-very-dark-grayish-blue);
    margin-bottom: 1rem;
    margin-top: 1.75rem;
}

abbr {
    text-decoration: none;
}

#questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    padding-bottom: 3rem;
}

.question {
    border-bottom: solid 1px var(--color-light-grayish-blue);
}

.accordion {
    width: 100%;
    text-align: left;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0.95rem 0 0.95rem 0;
    background: none;
    color: var(--color-dark-grayish-blue);
}

.accordion::after {
    content: url("images/icon-arrow-down.svg");
    float: right;
    transition: all 0.5s;
}

.accordion[aria-expanded="true"]::after {
    rotate: 180deg;
    transition: all 0.5s;
}

.accordion:hover {
    color: var(--color-soft-red);
    transition: all 250ms ease-in-out;
}

.accordion[aria-expanded="true"] {
    color: black;
    font-weight: 700;
}

.answer {
    color: var(--color-dark-grayish-blue);
    padding-right: 1.4rem;
    padding-bottom: 1rem;
    font-size: 12px;
    line-height: 1.1rem;
}

.answer[data-visible="false"] {
    display: none;
}

.attribution {
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}



@media only screen and (min-width: 768px) {

    body {
        justify-content: center;
    }

    .mobile_only {
        display: none;
    }

    .desktop_only {
        display: block;
    }

    main {
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 0;
        margin-left: 3.5vw;
        max-width: 64vw;
        background-image: url('./images/illustration-woman-online-desktop.svg'), url('./images/bg-pattern-desktop.svg');
        background-repeat: no-repeat;
        background-position: right 37.1vw center, right 37.1vw top -20.5vw;
        background-size: 32vw, 65.6vw;
    }

    .images_container {
        width: auto;
    }

    .desktop_block {
        position: absolute;
        top: 44%;
        right: 73.5%;
        height: 12.7vw;
    }

    .faq_title {
        margin: 0;
        padding-bottom: 1vw;
        text-align: start;
        font-size: 2rem;
    }

    #questions {
        margin-left: 19vw;
        width: 24vw;
        padding-top: 4.5vw;
        padding-bottom: 6vw;
    }
}